.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fdf2c5;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}

.firstBox {
  width: 798px;
  background-color: white;
  padding: 10px 25px;
  border-radius: 30px;
  border-color: 1px solid grey;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.firstBoxDiv {
  display: flex;
  gap: 5px;
}

.firstBoxImg {
  width: 179px;
  height: 179px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #059669, #ffffff80, #f97316);
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-line {
  width: 1px;
  height: "100%";
  background-color: #e5e7eb;
  margin: 0 20px;
}

.editBox {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.editBoxDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.editBoxProfile {
  font-size: 32px;
  color: #059669;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.editBoxEmail {
  font-size: 18px;
  color: #4b5563;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.editBoxPN {
  font-size: 18px;
  color: #4b5563;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.secondBox {
  width: 798px;
  background-color: white;
  padding: 10px 25px;
  border-radius: 30px;
  border-color: 1px solid grey;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.goal {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.goalDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.goalPTag {
  font-size: 24px;
  color: #059669;
  font-weight: 500;
  margin: 0;
}

.goalSpan {
  font-size: 24px;
  color: #059669;
  font-weight: 600;
  margin: 0;
}

.weightBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.cwBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cwFPBox {
  font-size: 24px;
  color: #f97316dd;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.cwSPBox {
  font-size: 18px;
  color: #4b5563;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.cSLine {
  width: 1px;
  height: 80px;
  background-color: #e5e7eb;
  margin: 0 20px;
}

.thirdDiv {
  width: 798px;
  background-color: white;
  padding: 15px 20px;
  border-radius: 30px;
  border-color: 1px solid grey;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.thirdContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.thirdCon {
  display: flex;
  flex-direction: column;
  background-color: #ecfdf5;
  width: 240px;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 14px;
  gap: 5px;
}

.thirdConFP {
  font-size: 18px;
  color: #059669;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.thirdConSP {
  font-size: 16px;
  color: #883523;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.fourthDiv {
  width: 798px;
  background-color: white;
  padding: 15px 20px;
  border-radius: 30px;
  border-color: 1px solid grey;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.fourthDivCon {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fourthDivConF {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.fourthDivConFP {
  font-size: 27px;
  color: #4b5563;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.fourthDivConS {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.fourthDivConSP {
  font-size: 18px;
  color: #4b5563;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.address {
  width: 600px;
  display: flex;
}

.fourthDivConSPll {
  font-size: 16px;
  color: #4b5563;
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding: 0;
}
